In [17]:
import pandas as pd

In [2]:
df = pd.read_csv('project.csv')

In [3]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [6]:
df = df.rename(columns = {'Mat':'Matches' ,'NO': 'not_outs' , 'HS' : 'Highest_inns_score' , 'BF':'Balls_faced' , 'SR':'batting_strike_rate'})

In [7]:
df.head()

,Player,Span,Matches,Inns,not_outs,Runs,Highest_inns_score,Ave,Balls_faced,batting_strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11

In [8]:
df.isnull().sum()

Player                 0
Span                   0
Matches                0
Inns                   0
not_outs               0
Runs                   0
Highest_inns_score     0
Ave                    0
Balls_faced            0
batting_strike_rate    0
100                    0
50                     0
0                      0
4s                     0
6s                     0
dtype: int64

In [9]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
not_outs               False
Runs                   False
Highest_inns_score     False
Ave                    False
Balls_faced            False
batting_strike_rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [19]:
df.duplicated()

0     False
1     False
2     False
3     False
4      True
      ...
60    False
61    False
62    False
63    False
64    False
Length: 65, dtype: bool

In [21]:
df[df['Player'].duplicated()==1 ]

,Player,Span,Matches,Inns,not_outs,Runs,Highest_inns_score,Ave,Balls_faced,batting_strike_rate,100,50,0,4s,6s
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11
59,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427+,1

In [22]:
df[df['Player'].isin(['RG Pollock (SA)' , 'CL Walcott (WI)' , 'RN Harvey (AUS)'])]

,Player,Span,Matches,Inns,not_outs,Runs,Highest_inns_score,Ave,Balls_faced,batting_strike_rate,100,50,0,4s,6s
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,-,0.00,15,14,1,107+,11
58,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427+,1
59,RN Harvey (AUS),1948-1963,79,137,10,6149,205,48.41,1799+,43.74,21,24,7,427+,1

In [27]:
df =df.drop_duplicates()
df

,Player,Span,Matches,Inns,not_outs,Runs,Highest_inns_score,Ave,Balls_faced,batting_strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [57]:
 df['Span'].str.split(pat='-')

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
5     [1930, 1954]
          ...
60    [1965, 1981]
61    [2002, 2014]
62    [1924, 1934]
63    [1930, 1938]
64    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [58]:
df['Span'].str.split(pat ='-').str[1]

0     1948
1     2023
2     2016
3     1970
5     1954
      ...
60    1981
61    2014
62    1934
63    1938
64    1934
Name: Span, Length: 62, dtype: object

In [59]:
df['first_year'] = df['Span'].str.split(pat='-').str[0]

In [60]:
df['final_year'] = df['Span'].str.split(pat='-').str[1]

In [61]:
df

,Player,Span,Matches,Inns,not_outs,Runs,Highest_inns_score,Ave,Balls_faced,batting_strike_rate,100,50,0,4s,6s,first_year,final_year,Rookie_year,Final_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,1963,1970
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981,1965,1981
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,2002,2014
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934,1924,1934
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938,1930,1938
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934,1928,1934

In [63]:
df=df.drop(['Span'],axis=1)

In [64]:
df['Player'].str.split(pat='(')

0      [DG Bradman , AUS)]
1        [HC Brook , ENG)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
5       [GA Headley , WI)]
              ...
60     [KD Walters , AUS)]
61    [GC Smith , ICC/SA)]
62    [WH Ponsford , AUS)]
63      [SJ McCabe , AUS)]
64     [DR Jardine , ENG)]
Name: Player, Length: 62, dtype: object

In [68]:
df['country'] = df['Player'].str.split(pat='(').str[1]

In [69]:
df['country'] = df['country'].str.split(pat=')').str[0]

In [70]:
df['country']

0        AUS
1        ENG
2        AUS
3         SA
5         WI
       ...
60       AUS
61    ICC/SA
62       AUS
63       AUS
64       ENG
Name: country, Length: 62, dtype: object

In [72]:
df['Player']

0      DG Bradman (AUS)
1        HC Brook (ENG)
2        AC Voges (AUS)
3       RG Pollock (SA)
5       GA Headley (WI)
            ...
60     KD Walters (AUS)
61    GC Smith (ICC/SA)
62    WH Ponsford (AUS)
63      SJ McCabe (AUS)
64     DR Jardine (ENG)
Name: Player, Length: 62, dtype: object

In [73]:
df['Player'] = df['Player'].str.split(pat='(').str[0]

In [74]:
df.head()

,Player,Matches,Inns,not_outs,Runs,Highest_inns_score,Ave,Balls_faced,batting_strike_rate,100,50,0,4s,6s,first_year,final_year,Rookie_year,Final_year,country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,2022,2023,ENG
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970,1963,1970,SA
5,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954,1930,1954,WI

In [75]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
not_outs                 int64
Runs                     int64
Highest_inns_score      object
Ave                    float64
Balls_faced             object
batting_strike_rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                      object
first_year              object
final_year              object
Rookie_year             object
Final_year              object
country                 object
dtype: object

In [77]:
df['Highest_inns_score'].str.split(pat = '*').str[0]

0     334
1     186
2     269
3     274
5     270
     ...
60    250
61    277
62    266
63    232
64    127
Name: Highest_inns_score, Length: 62, dtype: object

In [79]:
df['Highest_inns_score']=df['Highest_inns_score'].str.split(pat = '*').str[0]

In [80]:
df['Highest_inns_score'].astype('int')

0     334
1     186
2     269
3     274
5     270
     ...
60    250
61    277
62    266
63    232
64    127
Name: Highest_inns_score, Length: 62, dtype: int32

In [82]:
df=df.astype({'Rookie_year' : int , 'Final_year': int })

In [83]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
not_outs                 int64
Runs                     int64
Highest_inns_score      object
Ave                    float64
Balls_faced             object
batting_strike_rate    float64
100                      int64
50                       int64
0                        int64
4s                      object
6s                      object
first_year              object
final_year              object
Rookie_year              int32
Final_year               int32
country                 object
dtype: object

In [88]:
df = df.drop(56, axis =0)

In [89]:
df['career_length'] = df['Final_year']- df['Rookie_year']

In [90]:
df

,Player,Matches,Inns,not_outs,Runs,Highest_inns_score,Ave,Balls_faced,batting_strike_rate,100,50,0,4s,6s,final_year,Rookie_year,Final_year,country,career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1948,1928,1948,AUS,20
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2023,2022,2023,ENG,1
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2016,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1970,1963,1970,SA,7
5,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2,104+,1,1954,1930,1954,WI,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1981,1965,1981,AUS,16
61,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2014,2002,2014,ICC/SA,12
62,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1934,1924,1934,AUS,10
63,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1938,1930,1938,AUS,8
64,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1934,1928,1934,ENG,6

In [91]:
df['career_length']. mean()

13.21311475409836

In [94]:
df[df['career_length'] > 10] ['batting_strike_rate'].mean()

49.061860465116276

In [97]:
df[df['Rookie_year'] < 1960] ['Player'].count()

22